tests/integration/Resources/REST/Schemas/ContentTreeNodeExtendedInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ContentTreeNodeExtendedInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="function">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="hasAccess" type="xs:boolean" />
                            <xs:element minOccurs="0" name="restrictedContentTypeIdsList">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="value" type="xs:unsignedByte" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="restrictedLanguageCodesList">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="value" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="previewableTranslationsString" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="media-type" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>
