tests/integration/Resources/REST/Schemas/SiteAccessesList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="SiteAccessesList">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SiteAccess" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string" />
                            <xs:element name="provider" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="media-type" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="media-type" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>
